rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.email == 'admin@pova.com' || 
        request.auth.token.email == 'avotv2020@gmail.com'
      );
    }

    match /shipments/{shipmentId}/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
